body {
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

main {
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 8px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #e1e1e1;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.done {
    text-decoration: line-through;
    color: #808080;
    position: relative;
  }
  
  .done::before {
    content: "✔️";
    position: absolute;
    left: -20px;
}  